/*General */
.body_clase .content-wrapper {
	padding-top: 130px;
	padding-bottom: 0px;
}

.body_clase.edit .content-wrapper {
	padding-top: 0;
	top: 0px;
}

.html-book {
	font-size: 1.9rem;
}

.libro .footer .powered,
.libro .footer .legal-notes,
.libro .footer .about-us,
.libro .footer .contact-us,
.libro .footer .faq {
	display: none;
}

.content_type_clase_Klett_demo #actividad {
	margin-bottom: 0px;
	-webkit-transform: none;
	-webkit-transform-style: flat;
}

.content_type_clase_Klett_demo .slide-wrapper {
	text-align: justify;
}

#actividad .carousel-inner .item-container {
	background-image: none;
	max-width: 1200px;
	box-shadow: rgba(0,0,0,0.298039) 0 0px 0px;
	margin: 20px auto 30px;
	padding: 0px;
	padding-bottom: 90px;
	position: relative;
}

#swipeview-slider > div {
	background-color: #fff;
}

a {
    text-decoration: none;
    color: #757575;
}

a:hover, a:active, a:focus {
    color: #b71d4a;
}

.zoom_flag_img {
    top: 20px;
}
/*HEADER*/

.content_type_clase_Klett_demo #actividad .content .header .title img,
.content_type_clase_Klett_demo #actividad .content .header .chapter {
	display: none;
}

.content_type_clase_Klett_demo #actividad .content .header {
	border: none;
}

.content_type_clase_Klett_demo #actividad .content .header .title h3 {
	display: none;
}

input, button, select, textarea {
	padding-left: 0;
	padding-bottom: 0px;
}

.Klett_demo-navbar h3 {
	width: 75%;
	margin: auto;
	margin-bottom: 15px;
	font-size: 2.0rem;
	font-weight: bold;
}

/**/

.content_type_clase_Klett_demo #actividad .texto_curso {
	font-size: 1.8rem;
}

.content_type_clase_Klett_demo #actividad .texto_curso li,
.content_type_clase_Klett_demo #actividad .workspace ul li li {
	padding-left: 0px;
    list-style: none;
    margin-bottom: 10px;
}

.content_type_clase_Klett_demo #actividad .texto_curso li:last-of-type,
.content_type_clase_Klett_demo #actividad .workspace ul li li:last-of-type {
	margin-bottom: 0px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before, .preview ul li:before,
.classify-item ul li:before,
#actividad .workspace.multiple-choice .js-item ul li:before,
#actividad .workspace.matching .box ul li:before,
#actividad .workspace.ordenar .js-rank-item ul li:before {
    background-color: #AC218F;
    border-radius: 0%;
}

#actividad .class_slide {
	padding: 40px 97px 0px;
}

body.is_app #actividad .class_slide {
	padding-top: 115px;
}

#actividad .class_slide:last-of-type {
    padding-bottom: 100px;
}

#actividad .slide-concatenate .class_slide {
    padding-bottom: 20px;
}

#actividad .slide-concatenate:last-of-type .class_slide {
    padding-bottom: 100px;
}

#actividad .content .header .title {
	min-height: 0px;
}

.content_type_clase_Klett_demo .slide_main input {
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.content_type_clase_Klett_demo .slide_main input:focus,
.content_type_clase_Klett_demo .slide_main .form-control:focus {
	border-color: #9664AB;
	outline-width: 0px;
	outline-style: none;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(133, 200, 57, 0.6);
}

.content_type_clase_Klett_demo .slide_main input[disabled],
.content_type_clase_Klett_demo .slide_main input[readonly],
fieldset[disabled] .content_type_clase_Klett_demo .slide_main input {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.content_type_clase_Klett_demo .slide_main input.respuesta_ok {
	border-color: #57e900;
	background: #D1F3BD;
}

.content_type_clase_Klett_demo .slide_main input.respuesta_ko {
	border-color: #FF3626;
	background: #FFA49D;
}

.content_type_clase_Klett_demo .slide_main input.solucion {
	border-color: #00BDFF;
	background: #B6ECFF;
}
/**/

/* CURSO */

#indice .unit-content {
    border-radius: 0px;
}

#indice .unit-content .header {
    border: 0px;
    border-radius: 0px;
    border-bottom-right-radius: 0px;
}

#indice .unit-content .header.default {
	background: #b71d4a !important;
}

#indice .units ul linumber{
	width: 0px;
	visibility: hidden;
	margin: 0px;
}

#indice .units ul li {
	 border-radius: 0px;
    background: #cbcbcb;
	background: #cbcbcb;
}

#indice .units ul li.active:not(.disabled),
body:not(.isTablet) #indice .units ul li:hover:not(.disabled),
#indice .units ul li:focus:not(.disabled) {
	background: #b71d4a;
	border-radius: 0px;
   border-left: 10px solid #fff;
   color: #fff;
    font-weight: 600;
}

#indice .units ul li:not(.add) a .title {
	margin-left: 10px;
}

#indice .unit-content .header .number {
	display: none;
}

#indice .unit-content .actividades .item:not(.nivel_1) .title{font-size: 1.5rem;}

#indice .unit-content .header .title {
    margin: 20px 40px 20px 30px;
}


/**/

/* NAVBAR (Breadcums) */
#top-navigator {
	height: 55px;
	overflow: hidden;
	position: relative;
}

#top-navigator.show_left:before {
    background: linear-gradient(to right, #7aac39, transparent);
}

#top-navigator.show_right:after {
    background: linear-gradient(to left, #7aac39, transparent);
}

.content_type_clase_Klett_demo .Klett_demo-navbar {
	position: fixed;
	top: 44px;
	width: 100%;
	left: 0;
	z-index: 100;
	background-color: #b71d4a;
}

body.is_app .Klett_demo-navbar {
	top: 0;
	transition: top 0.5s linear;
}

body.is_app .Klett_demo-navbar.ocultar {
	top: -136px;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown button,
.content_type_clase_Klett_demo .Klett_demo-navbar li {
	border-radius: 5px;
	border: none;
	background-color: transparent;
	color: black;
	vertical-align: middle;
	margin: 0px 5px;
	text-indent: 0px;
	line-height: 3.5rem;
	font-size: 1.9rem;
	cursor: pointer;
}

.content_type_clase_Klett_demo .Klett_demo-navbar li {
	font-size: 1.5rem;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown button {
	color: #fff;
    font-size: 24px;
    font-weight: normal;
    width: auto;
    padding: 0;
    margin: 0;
    text-align: left;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown button:focus {
	outline: none;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown .caret {
	border-color: #fff transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .navbar-content {
	max-width: 1024px;
    margin: auto;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas {
	position: relative;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas:focus,
.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas button:focus {
	outline: none;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas button {
	background-color: transparent;
	border: none;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas .caret{
	border-color: #fff transparent transparent transparent;
	margin-left: 10px;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdownTemas .dropdown-menu {
	left: 50px;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .navbar-content h2 {
	color: #fff;
	font-weight: 600;
	font-size: 37px;
	margin-bottom: 0;
	padding-top: 20px;
	position: relative;
	text-align: left;
	height: 80px;
    vertical-align: middle;
    display: table-cell;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .navbar-content h2 #nombre-tema-wrapper {
	line-height: 2.5rem;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .navbar-content h2 #courseIndex {
	display: none;
	background-color: #9665AB;
    font-size: 4rem;
    color: white;
    width: 60px;
    text-align: center;
    border-radius: 10px;
    margin-right: 20px;
    position: absolute;
    left: -10px;
    height: 60px;
    bottom: -1px;
    padding-top: 8px;
	border-bottom-right-radius: 0;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .navbar-content h2 a {
	font-size: 1.6rem;
    font-weight: normal;
    padding: 0px 10px;
    margin-left: 230px;
    display: inline-block;
    border: 1px solid #fff;
    color: #fff;
}

.content_type_clase_Klett_demo .slider-indicators {
	padding: 10px 0px;
	display: inline-block;
	text-align: left;
	position: absolute;
	width: 5000px;
	bottom: 0px;
	left: 0px;
	z-index: 0;
}

.content_type_clase_Klett_demo .slider-indicators li:first-child span,
.content_type_clase_Klett_demo .dropdown li:first-child span.num {
	font-family: "Palatino Linotype", Times;
}

.content_type_clase_Klett_demo .first-is-section .slider-indicators li:first-child span,
.content_type_clase_Klett_demo .first-is-section .dropdown li:first-child span.num {
	font-family: 'FontAwesome' !important;
}

.dropdown-menu li span:first-child {
    display: inline-block;
    min-width: 20px;
    float: left;
}

.content_type_clase_Klett_demo .slider-indicators li {
	width: 35px;
	height: 35px;
	margin: 0px 5px;
	text-align: center;
}

.content_type_clase_Klett_demo .slider-indicators li.active,
.content_type_clase_Klett_demo .Klett_demo-navbar li:hover {
	background-color: #e5e5e5;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown {
	display: block;
	float: left;
	margin: 10px 0;
}

.open > .dropdown-menu {
	display: block;
	max-height: 500px;
	overflow-y: auto;
	overflow-x: hidden;
}

.dropdown-menu > li > a {
	padding: 3px 20px 0px 20px;
}

.dropdownTemas .dropdown-menu > li > a {
	display: inline;
	padding-left: 5px;
}

.dropdownTemas .dropdown-menu > li > a:hover {
	background-color: transparent;
}

.dropdownTemas .dropdown-menu > li > span {
	padding-left: 10px;
}

.dropdown-menu .title {
	display: inline-block;
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown li {
	display: list-item;
	width: auto;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown li a {
	color: #777;
	font-size: 1.5rem;
	overflow: auto;
}

.content_type_clase_Klett_demo .Klett_demo-navbar .dropdown li a:hover {
	background-color: #e5e5e5;
}

/**/

/* Navigators */
.navigator {
	bottom: 0;
	left: 0;
	position: absolute;
	width: 100%;
	padding: 0px 97px;
}

.navigator .title {
	width: calc(100% - 20px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 1.6rem;
	line-height: 4.0rem;
	display: inline-block;
	vertical-align: top;
}

.main-navigator {
	padding: 15px 0px;
	width: 100%;
	border-top: 1px solid #e5e5e5;
}

.navigator .left, .navigator .right {
	width: 49%;
	display: inline-block;
	cursor: pointer;
}

.navigator .left {
	padding-left: 20px;
}

.navigator .right {
	text-align: right;
	padding-right: 20px;
}

.navigator .slider-control.left,
.navigator .slider-control.right {
	position: static;
	height: auto;
	width: 100%;
	background-color: transparent;
	border-radius: 0px;
	margin: 0px;
	opacity: 1;
	text-shadow: none;
	color: #999;
	font-size: 2.3rem;
}

.navigator .slider-control.left:before,
.navigator .slider-control.right:after {
	font-family: 'FontAwesome';
	position: absolute;
	margin-top: 9px;
}

.navigator .slider-control.left:before {
	margin-left: -20px;
	content: "\f104";
}

.navigator .slider-control.right:after {
	margin-left: 20px;
	content: "\f105";
}

.navigator .slider-control span {
	position: static;
	margin: 0px;
    cursor: pointer;
}
/**/

/* CKEDITOR */
#actividad .content img {
	margin-top: 10px;
    border-bottom-right-radius: 0;
}

/*Evitar bordes en las lineas del matching*/
#actividad .workspace.matching .img-relaciones img {
	margin: 0;
	border: none;
	border-radius: 0;
}


#actividad .content .normal-img,  #actividad .content figure.normal-img img {
	border: none;
	border-radius: 0;
}

#actividad .content figure.normal-img {
	margin: 0;
	padding: 0;
}

#actividad .content .bck-img-align-right {
	float: right;
}

#actividad .content .bck-img-align-center {
	text-align: center;
}



.bck-title1 {
    color: #464646;
    font-size: 21px;
    font-weight: bold;
	position: relative;
}

.bck-title2 {
   color: #fff;
    background: #b71d4a;
    width: fit-content;
    font-size: 13pt;
    font-weight: bold;
    position: relative;
    padding-left: 30px;
    padding-right: 15px;
}

.bck-title3 {
    color: #FF8400;
    font-size: 2.4rem;
    font-weight: 600;
    display: inline-block;
	position: relative;
}

.bck-enfasis {
    color: #000;
    font-size: 12pt;
    font-weight: bold;
}

.bck-enfasis-naranja {
	color: #ED7102;
}

/*listas*/

#actividad .content ul.bck-ul li {
	list-style: none;
	margin-left: 15px;
}

.texto_curso ul li:before,
.workspace ul li ul li:before,
.cke_contents ul li:before, 
.preview ul li:before,
.classify-item ul li:before,
 #actividad .workspace.multiple-choice .js-item ul li:before,
 #actividad .workspace.matching .box ul li:before, 
 #actividad .workspace.ordenar .js-rank-item ul li:before {
    background-color: #b71d4a;
    border-radius: 50%;
}


#actividad .content .texto_curso .bck-ul li:before,
#actividad .content .workspace ul li .bck-ul li:before {
	content: "";
    position: absolute;
	height: 6px;
    width: 6px;
    background-color: #b71d4a;
    margin-top: 12px;
    margin-left: -15px;
	margin-right: 7px;
	margin-bottom: 2px;
	border-radius: 0%;
}

#actividad .content .texto_curso  ul.bck-ul-2 li,
#actividad .content .workspace ul li ul.bck-ul-2 li {
	list-style: none;
}

#actividad .content .texto_curso .bck-ul-2 li:before,
#actividad .content .workspace ul li .bck-ul-2 li:before {
	content: "- ";
	background: none;
    position: relative;
}

#actividad .content .texto_curso ul.bck-ul-3 li,
#actividad .content .workspace ul li ul.bck-ul-3 li {
	list-style: none;
	padding: 0;
	margin-left: 15px;
}

#actividad .content .texto_curso ul.bck-ul-3 li:before,
#actividad .content .workspace ul li ul.bck-ul-3 li:before {
	content: "";
	font-family: FontAwesome;
	display: inline-block;
	margin: 0;
	margin-left: -20px;
	background-color: transparent;
	color: #b71d4a;
}


/*listas ordenada*/
.content ol li, .cke_contents ol li {
    counter-increment: bck-li-counter 1;
    position: relative;
    padding-left: 0px;
}

.content ol li:before, .cke_contents ol li:before {
    content: counter(bck-li-counter)' ';
    list-style-type: none;
    margin-left: -43px;
}



#actividad .content .texto_curso .bck-ol li,
#actividad .content .cke_contents .bck-ol li,
#actividad .popover-content .bck-ol li,
#actividad .content .workspace ul li .bck-ol li {
    list-style-type: none;
    counter-increment: bck-li-counter 1;
    position: relative;
}

#actividad .content .cke_contents .bck-ol li:before,
#actividad .content .texto_curso .bck-ol li:before,
#actividad .popover-content .bck-ol li:before,
#actividad .content .workspace ul li .bck-ol li:before {
	content: counter(bck-li-counter)'.-';
	position: absolute;
	left: -47px;
	width: 38px;
	text-align: right;
	color: #9665AB;
}


/*lista 1*/

#actividad .content .cke_contents .bck-ol-3,
#actividad .content .texto_curso .bck-ol-3,
#actividad .content .workspace ul li .bck-ol-3 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .texto_curso .bck-ol-3 li,
#actividad .content .cke_contents .bck-ol-3 li,
#actividad .popover-content .bck-ol-3 li,
#actividad .content .workspace ul li .bck-ol-3 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-3 li:before,
#actividad .content .texto_curso ol.bck-ol-3 li:before,
#actividad .popover-content ol.bck-ol-3 li:before,
#actividad .content .workspace ul li ol.bck-ol-3 li:before {
	content: "1 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 2*/

#actividad .content .cke_contents .bck-ol-4,
#actividad .content .texto_curso .bck-ol-4, #actividad .content .workspace ul li .bck-ol-4 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-4 li,
#actividad .content .texto_curso .bck-ol-4 li, #actividad .popover-content .bck-ol-4 li, #actividad .content .workspace ul li .bck-ol-4 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-4 li:before,
#actividad .content .texto_curso ol.bck-ol-4 li:before, #actividad .popover-content ol.bck-ol-4 li:before,
#actividad .content .workspace ul li ol.bck-ol-4 li:before {
	content: "2 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 3*/

#actividad .content .cke_contents .bck-ol-2,
#actividad .content .texto_curso .bck-ol-2,
#actividad .content .workspace ul li .bck-ol-2{
	list-style-type: none;
	 counter-reset: bck-li-counter;
}


#actividad .content .cke_contents .bck-ol-2 li,
#actividad .content .texto_curso .bck-ol-2 li,
#actividad .popover-content .bck-ol-2 li,
#actividad .content .workspace ul li .bck-ol-2 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-2 li:before,
#actividad .content .texto_curso ol.bck-ol-2 li:before,
#actividad .popover-content ol.bck-ol-2 li:before,
#actividad .content .workspace ul li ol.bck-ol-2 li:before {
	content: "3 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 4*/

#actividad .content .cke_contents .bck-ol-5,
#actividad .content .texto_curso .bck-ol-5,
#actividad .content .workspace ul li .bck-ol-5 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-5 li,
#actividad .content .texto_curso .bck-ol-5 li,
#actividad .popover-content .bck-ol-5 li,
#actividad .content .workspace ul li .bck-ol-5 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-5 li:before,
#actividad .content .texto_curso ol.bck-ol-5 li:before,
#actividad .popover-content ol.bck-ol-5li:before,
#actividad .content .workspace ul li ol.bck-ol-5 li:before {
	content: "4 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}


/*lista 5*/

#actividad .content .cke_contents .bck-ol-6,
#actividad .content .texto_curso .bck-ol-6, #actividad .content .workspace ul li .bck-ol-6 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-6 li,
#actividad .content .texto_curso .bck-ol-6 li, #actividad .popover-content .bck-ol-6 li,
#actividad .content .workspace ul li .bck-ol-6 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-6 li:before,
#actividad .content .texto_curso ol.bck-ol-6 li:before,
#actividad .popover-content ol.bck-ol-6 li:before,
#actividad .content .workspace ul li ol.bck-ol-6 li:before {
	content: "5 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}


/*lista 6*/

#actividad .content .cke_contents .bck-ol-7,
#actividad .content .texto_curso .bck-ol-7,
#actividad .content .workspace ul li .bck-ol-7 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-7 li,
#actividad .content .texto_curso .bck-ol-7 li,
#actividad .popover-content .bck-ol-7 li,
#actividad .content .workspace ul li .bck-ol-7 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-7 li:before,
#actividad .content .texto_curso ol.bck-ol-7 li:before,
#actividad .popover-content ol.bck-ol-7 li:before,
#actividad .content .workspace ul li ol.bck-ol-7 li:before {
	content: "6 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 7*/

#actividad .content .cke_contents .bck-ol-8,
#actividad .content .texto_curso .bck-ol-8,
#actividad .content .workspace ul li .bck-ol-8 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-8 li,
#actividad .content .texto_curso .bck-ol-8 li,
#actividad .popover-content .bck-ol-8 li,
#actividad .content .workspace ul li .bck-ol-8 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}


#actividad .content .cke_contents .bck-ol-8 li:before,
#actividad .content .texto_curso ol.bck-ol-8 li:before,
#actividad .popover-content ol.bck-ol-8 li:before,
#actividad .content .workspace ul li ol.bck-ol-8 li:before {
	content: "7 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 8*/
#actividad .content .cke_contents .bck-ol-9,
#actividad .content .texto_curso .bck-ol-9,
#actividad .content .workspace ul li .bck-ol-9 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-9 li,
#actividad .popover-content .bck-ol-9 li,
#actividad .content .texto_curso .bck-ol-9 li,
#actividad .content .workspace ul li .bck-ol-9 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}


#actividad .popover-content ol.bck-ol-9 li:before,
#actividad .content .cke_contents .bck-ol-9 li:before,
#actividad .content .texto_curso ol.bck-ol-9 li:before,
#actividad .content .workspace ul li ol.bck-ol-9 li:before {
	content: "8 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 9*/
#actividad .content .cke_contents .bck-ol-10,
#actividad .popover-content .bck-ol-10,
#actividad .content .texto_curso .bck-ol-10,
#actividad .content .workspace ul li .bck-ol-10 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-10 li,
#actividad .popover-content .bck-ol-10 li,
#actividad .content .texto_curso .bck-ol-10 li,
#actividad .content .workspace ul li .bck-ol-10 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .popover-content .bck-ol-10 li:before,
#actividad .content .cke_contents .bck-ol-10 li:before,
#actividad .content .texto_curso ol.bck-ol-10 li:before,
#actividad .content .workspace ul li ol.bck-ol-10 li:before {
	content: "9 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}


/*lista 10*/

#actividad .content .cke_contents .bck-ol-11,
#actividad .popover-content .bck-ol-11,
#actividad .content .texto_curso .bck-ol-11,
#actividad .content .workspace ul li .bck-ol-11 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-11 li,
#actividad .popover-content .bck-ol-11 li,
#actividad .content .texto_curso .bck-ol-11 li,
#actividad .content .workspace ul li .bck-ol-11 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .content .cke_contents .bck-ol-11 li:before,
#actividad .popover-content .bck-ol-11 li:before,
#actividad .content .cke_contents .bck-ol-11 li:before,
#actividad .content .texto_curso ol.bck-ol-11 li:before,
#actividad .content .workspace ul li ol.bck-ol-11 li:before {
	content: "10 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 11*/

#actividad .content .cke_contents .bck-ol-12,
#actividad .popover-content .bck-ol-12,
#actividad .content .texto_curso .bck-ol-12,
#actividad .content .workspace ul li .bck-ol-12 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .content .cke_contents .bck-ol-12 li,
#actividad .popover-content .bck-ol-12 li,
#actividad .content .texto_curso .bck-ol-12 li,
#actividad .content .workspace ul li .bck-ol-12 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}


#actividad .popover-content .bck-ol-12 li:before,
#actividad .content .cke_contents .bck-ol-12 li:before,
#actividad .content .texto_curso ol.bck-ol-12 li:before,
#actividad .content .workspace ul li ol.bck-ol-12 li:before {
	content: "11 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 12*/

#actividad .popover-content .bck-ol-13,
#actividad .content .cke_contents .bck-ol-13,
#actividad .content .texto_curso .bck-ol-13,
#actividad .content .workspace ul li .bck-ol-13 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .popover-content .bck-ol-13 li,
#actividad .content .cke_contents .bck-ol-13 li,
#actividad .content .texto_curso .bck-ol-13 li,
#actividad .content .workspace ul li .bck-ol-13 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .popover-content .bck-ol-13 li:before,
#actividad .content .cke_contents .bck-ol-13 li:before,
#actividad .content .texto_curso ol.bck-ol-13 li:before,
#actividad .content .workspace ul li ol.bck-ol-13 li:before {
	content: "12 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 13*/

#actividad .popover-content .bck-ol-14,
#actividad .content .cke_contents .bck-ol-14,
#actividad .content .texto_curso .bck-ol-14,
#actividad .content .workspace ul li .bck-ol-14 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .popover-content .bck-ol-14 li,
#actividad .content .cke_contents .bck-ol-14 li,
#actividad .content .texto_curso .bck-ol-14 li,
#actividad .content .workspace ul li .bck-ol-14 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}


#actividad .popover-content .bck-ol-14 li:before,
#actividad .content .cke_contents .bck-ol-14 li:before,
#actividad .content .texto_curso ol.bck-ol-14 li:before,
#actividad .content .workspace ul li ol.bck-ol-14 li:before {
	content: "13 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 14*/
#actividad .popover-content .bck-ol-15,
#actividad .content .cke_contents .bck-ol-15,
#actividad .content .texto_curso .bck-ol-15,
#actividad .content .workspace ul li .bck-ol-15 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .popover-content .bck-ol-15 li,
#actividad .content .cke_contents .bck-ol-15 li,
#actividad .content .texto_curso .bck-ol-15 li,
#actividad .content .workspace ul li .bck-ol-15 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .popover-content .bck-ol-15 li:before,
#actividad .content .cke_contents .bck-ol-15 li:before,
#actividad .content .texto_curso ol.bck-ol-15 li:before,
#actividad .content .workspace ul li ol.bck-ol-15 li:before {
	content: "14 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/*lista 15*/

#actividad .popover-content .bck-ol-16,
#actividad .content .cke_contents .bck-ol-16,
#actividad .content .texto_curso .bck-ol-16,
#actividad .content .workspace ul li .bck-ol-16 {
	list-style-type: none;
	 counter-reset: bck-li-counter;
}

#actividad .popover-content .bck-ol-16 li,
#actividad .content .cke_contents .bck-ol-16 li,
#actividad .content .texto_curso .bck-ol-16 li,
#actividad .content .workspace ul li .bck-ol-16 li {
	counter-increment: bck-li-counter;
	padding-left: 4px;
	position: relative;
	z-index: 0;
}

#actividad .popover-content .bck-ol-16 li:before,
#actividad .content .cke_contents .bck-ol-16 li:before,
#actividad .content .texto_curso ol.bck-ol-16 li:before,
#actividad .content .workspace ul li ol.bck-ol-16 li:before {
	content: "15 "counter(bck-li-counter, lower-alpha);
    color: #000;
    font-size: 11pt;
    font-weight: bold;
    margin-left: -45px;
    margin-top: -1px;
    padding-right: 8px;
    text-align: left;
}

/**/

/*Cajas*/

.bck-box {
	max-width: 100%;
	margin-bottom: 20px;
}

.bck-box.center {
	display: block;
	text-align: center;
}

.bck-box.center .bck-content {
	position: relative;
}

.bck-box.left, img[style~="float:right"] {
	float: left;
	margin-right: 30px;
}

.bck-box.right, img[style~="float:left"] {
	float: right;
	margin-left: 30px;
}

.bck-box img {
	max-width: 100%;
}

.bck-box .bck-content {
	text-align: justify;
	padding: 10px;
	padding-left: 30px;
}

.bck-box.simple {
    background-color: #ccc;
    text-align: left;
    padding-right: 15px;
}

.bck-box.simple:after {
    background: none;
}

.content_type_clase_Klett_demo:not(.android) .bck-box.simple:before {
    transform: none;
    -ms-transform: skewY(0deg);
    -webkit-transform: skewY(0deg);
}

.bck-box.simple:before {
    background-color: #F2DBF2;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 2px;
}

.bck-box.simple .bck-title {
    background-color: #b71d4a;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    padding: 2px 10px;
    width: fit-content;
    padding-left: 30px;
}

.bck-box.simple-2 {
	border: 1px solid #b71d4a;
    text-align: left;
}

.bck-box.simple-2 > .bck-content {
	padding: 10px 25px;
}

.bck-box.simple-3 {
	border: 2px solid #b71d4a;
	border-radius: 20px;
}

/**/


/**TABLA**/

.bck-table {
	border: 0;
}

.bck-table td {
	padding: 10px;
	border-color: #ddd
}

table td.bck-td {
	background-color: #CC99FF;
}

/**/

.textarea-container {
    width: 100%;
}

#actividad .workspace.multiple-choice .opcion {
    background-color: white;
}

.cke_reset {
    background: white;
}



/**/

/* Seccion Actividades */
#actividad .carousel-inner .actividades .item-container {
	background-color: #FFF;
	position: relative;
	z-index: 0;
}

#actividad .carousel-inner .actividades .item-container:before {
	content: '';
	position: absolute;
	display: inline-block;
	border-top: 85px solid #F5821F;
	border-left: 77px solid #F5821F;
	border-right: 77px solid #F5821F;
	top: 0;
	left: 0;
	right: 0;
	bottom:0 ;
	background-color: transparent;
	z-index: -1;

}

/* CKEDITOR */
.actividades .bck-title1 {
	color: #F5821F;
	position: relative;
	font-weight: bold;
	font-size: 2.8rem;
}

.actividades .bck-title1:before {
	background-color: transparent;
}

/**/



/**iframe**/

#iframe_div.scorm {
    width: 100% ! important;
    height: 100% ! important;
    top: 0px ! important;
    left: 0px ! important;
    background-color: #CCCCCC;
}

#iframe_div.scorm iframe#class_iframe {
    width: 100% ! important;
    height: 100% ! important;
}

#iframe_div.scorm .btn-close-iframe {
	right: 0px;
	top: 15px;
	margin-top: 20px;
}

#iframe_div.scorm .btn-close-iframe span {
	display: none;
}

#iframe_div.scorm .btn-close-iframe a {
	padding: 16px;
	background-color: #E9E9E9;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 5px;
	box-shadow: 0px 1px 5px #aaa;
}

#iframe_div.scorm .btn-close-iframe a .fa {
	font-size: 2rem;
}

/**/

/**Dropdown**/

.bck-dropdown-button {
    padding: 0px;
    margin-left: -5px;
}


.bck-dropdown-icon>.fa {
     color: #b71d4a;
     border: 0px;
   }

.bck-dropdown-titulo {
	 color: #b71d4a;
	}

.bck-dropdown {
	border-top-right-radius: 20px;
}

.Klett_demo-dropdown .bck-dropdown-icon, .Klett_demo-dropdown-2 .bck-dropdown-icon {
	background-color: #fff;
	color: #b71d4a;
}

.bck-dropdown-content {
    overflow-y: auto;
    display: none;
    max-height: 300px;
    padding: 10px;
    border: 1px #b71d4a solid;
    background: #fff;
    margin-left: 50px;

}

.Klett_demo-dropdown .bck-dropdown-titulo, .Klett_demo-dropdown-2 .bck-dropdown-titulo, .Klett_demo-dropdown-3 .bck-dropdown-titulo {
    color: #b71d4a;
}

/*Desplegable 1*/
.bck-dropdown.Klett_demo-dropdown {
	background-color: #fff;
   
}

.Klett_demo-dropdown .bck-dropdown-icon {
	background-color: #fff;
    color: #b71d4a;
}

.Klett_demo-dropdown .bck-dropdown-content {
	border: 1px #b71d4a solid;
    background: #fff;
    margin-left: 50px;
}

.bck-dropdown.Klett_demo-dropdown .fa-chevron-up:before {
    vertical-align: sub;
    content: "\f12a";
    color: #fff;
    background: #b71d4a;
    padding: 2px 8px;
}

.bck-dropdown.Klett_demo-dropdown .fa-chevron-down:before {
	vertical-align: sub;
    content: "\f12a";
    color: #fff;
    background: #b71d4a;
    padding: 2px 8px;
}

/**/

/*Desplegable 2*/
.bck-dropdown.Klett_demo-dropdown-2 {
	background-color: #fff;
    
}

.Klett_demo-dropdown-2 .bck-dropdown-icon {
	background-color: #fff;
    color: #b71d4a;
}

.Klett_demo-dropdown-2 .bck-dropdown-content {
	border: 1px #b71d4a solid;
    background: #fff;
    margin-left: 50px;
}

.bck-dropdown.Klett_demo-dropdown-2 .fa-chevron-up:before {
      vertical-align: sub;
    content: "G";
    color: #fff;
    background: #B51434;
    padding: 2px 4px;
    font-family: sans-serif;
}

.bck-dropdown.Klett_demo-dropdown-2 .fa-chevron-down:before {
	vertical-align: sub;
    content: "G";
    color: #fff;
    background: #B51434;
    padding: 2px 4px;
    font-family: sans-serif;
}

/**/

/*Desplegable 3*/
.bck-dropdown.Klett_demo-dropdown-3 {
	background-color: #fff;
    
}

.Klett_demo-dropdown-3 .bck-dropdown-icon {
	background-color: #fff;
    color: #b71d4a;
}

.Klett_demo-dropdown-3 .bck-dropdown-content {
	border: 1px #b71d4a solid;
    background: #fff;
    margin-left: 50px;
}

.bck-dropdown.Klett_demo-dropdown-3 .fa-chevron-up:before {
    vertical-align: sub;
    content: "i";
    color: #fff;
    background: #b71d4a;
    padding: 2px 8px;
    font-family: sans-serif;
}

.bck-dropdown.Klett_demo-dropdown-3 .fa-chevron-down:before {
	vertical-align: sub;
    content: "i";
    color: #fff;
    background: #b71d4a;
    padding: 2px 8px;
    font-family: sans-serif;
}


/*Desplegable 4*/
.bck-dropdown.Klett_demo-dropdown-4 {
	background-color: #fff;
    
}

.Klett_demo-dropdown-4 .bck-dropdown-icon {
    background-color: #fff;
    color: #b71d4a;
}

.Klett_demo-dropdown-4 .bck-dropdown-content {
    border: 1px #b71d4a solid;
    background: #fff;
    margin-left: 50px;
}

.bck-dropdown.Klett_demo-dropdown-4 .bck-dropdown-titulo:before {
    content: "\f12a";
    color: #fff;
    background: #b71d4a;
    padding: 2px 8px;
    font-family: 'FontAwesome';
    font-size: 12pt;
    margin-right: 10px;
}

/**/

/****/

@media screen and (max-width: 768px) {

	#actividad .carousel-inner .class_slide {
        padding: 40px 20px 0px;
    }

	.navigator {
        padding: 0px 20px;
    }

	#actividad .carousel-inner .actividades .item-container:before,
	#actividad .carousel-inner .emprender .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 85px;
		border-left-width: 20px;
		border-right-width: 20px;
	}

	#actividad .carousel-inner .taller .item-container:before {
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-top-width: 60px;
		border-left-width: 20px;
		border-right-width: 20px;
		bottom:0 ;
	}
}
